$menu-background: rgba(0, 0, 0, .8);
$menu-overlay: rgba(0, 0, 0, .4);
$menu-background-hover: rgba(255, 255, 255, .6);
$menu-background-hover-color: rgba(255, 255, 255, .6);
$menu-background-color: rgba(255, 255, 255, .6);
$button-width: 96px;
$button-height: 96px;
$bar-thickness: 8px;
$button-pad: 18px;
$button-bar-space: 12px;
$button-transistion-duration: .1s;
$borderC: #000;
$ham-bgr: #ff0000;
$cross-bgr: none;
$menu-font-size: 120%;
